<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Student Dashboard</title>
</head>
<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Students Learning</h3>
            </div>

            <ul class="list-unstyled components">
                
                <li>
                    <a href="/dashboard" class="sidebarContents">My Courses</a>
                </li>
                <li>
                    <a href="#" class="sidebarContents">Discussions</a>
                </li>
                
                
                
            </ul>

            <div style="bottom: 0;">
                <ul class="list-unstyled CTAs" >
                    <li>
                        <a href="#" class="article">
                            <p>facing Problem</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="download" style="text-decoration: none;">Get Help</a>
                    </li>
                    
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            


            <div class="topicVideos align-items-center">


                

                
                    <div class="card mb-3" style="max-width: 900px;" >
                        <div class="row g-0">
                          <div class="col-md-4" style=" 
                            width: 200px;
                            height: 200px; 
                            line-height: 200px; 
                            text-align: center;
                            margin: 20px;
                            
                           ">
                            <img src="https://images.pexels.com/photos/4578660/pexels-photo-4578660.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-fluid rounded-start" style="vertical-align: middle; border-radius: 5%;" alt="...">
                          </div>
                          <div class="col-md-8" style="display: flex;">
                            <div class="card-body">
                              <h3 class="card-title">Introduction to Machine Learning</h3>
                              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                            
                          </div>
                          
                        </div>

                        <div class="contentDetails" >
                            <div data-toggle="collapse" data-target="#demo" class="videoMain" style="max-width: 890px;"><h4>1. Introduction to Machine Learning</h4>
                                <img src="https://cdn-icons-png.flaticon.com/512/2902/2902298.png" style="align-items: flex-end; width: 20px; height: 20px;left: 95%;" alt="" srcset="">
                            </div>

                                <div id="demo" class="collapse">
                                    <div class="videoMain1">
                                        <div style="display: flex;">
                                            <div class="image" ></div>
                                            <a href="/videoplayer?name=1.1" ><div class="videoName" >What is ML</div></a>
                                        </div>
                                        <div>
                                            <div>4:16</div>
                                        </div>
                                    </div>
                                </div>    
                        </div>


                        <div class="contentDetails" >
                            <div data-toggle="collapse" data-target="#demo1" class="videoMain"><h4>2. Concepts of Machine Learning</h4>
                                <img src="https://cdn-icons-png.flaticon.com/512/2902/2902298.png" style="align-items: flex-end; width: 20px; height: 20px;left: 95%;" alt="" srcset="">
                            </div>

                                <div id="demo1" class="collapse">

                                    <div class="videoMain1">
                                        <div style="display: flex;">
                                            <div class="image" ></div>
                                            <a href="/videoplayer?name=2.1" name="2.1"><div class="videoName">Concepts of ML.1</div></a>
                                        </div>
                                        <div>
                                            <div>3:45</div>
                                        </div>
                                    </div>
                                    <div class="videoMain1">
                                        <div style="display: flex;">
                                            <div class="image" ></div>
                                            <a href="/videoplayer?name=2.2" name="2.2"><div class="videoName">Concepts of ML.2</div></a>
                                        </div>
                                        <div>
                                            <div>7:25</div>
                                        </div>
                                    </div>
                                    <div class="videoMain1" >
                                        <div style="display: flex;">
                                            <div class="image" ></div>
                                            <a href="/videoplayer?name=2.3" name="2.3"><div class="videoName">Concepts of ML.3</div></a>
                                        </div>
                                        <div>
                                            <div>3:11</div>
                                        </div>
                                    </div>
                                </div>    
                        </div>

                        <div class="contentDetails" >
                            <div data-toggle="collapse" data-target="#demo2" class="videoMain" style="max-width: 890px;"><h4>3. Application of Machine Learning</h4>
                                <img src="https://cdn-icons-png.flaticon.com/512/2902/2902298.png" style="align-items: flex-end; width: 20px; height: 20px;left: 95%;" alt="" srcset="">
                            </div>

                                <div id="demo2" class="collapse">
                                    <div class="videoMain">
                                        <div style="display: flex;">
                                            <div class="image" ></div>
                                            <a href="/videoplayer?name=3.1" name="3.1"><div class="videoName">Basic applications of ML.1</div></a>
                                        </div>
                                        <div>
                                            <div>4:45</div>
                                        </div>
                                    </div>
                                </div>    
                        </div>

                        <div class="contentDetails" >
                            <div data-toggle="collapse" data-target="#demo3" class="videoMain" style="max-width: 890px;"><h4>4. Neural Network and Deep Learning</h4>
                                <img src="https://cdn-icons-png.flaticon.com/512/2902/2902298.png" style="align-items: flex-end; width: 20px; height: 20px;left: 95%;" alt="" srcset="">
                            </div>

                                <div id="demo3" class="collapse">
                                    <div class="videoMain">
                                        <div style="display: flex;">
                                            <div class="image" ></div>
                                            <a href="/videoplayer?name=4.1" name="4.1"><div class="videoName">Deep Learning in Depth</div></a>
                                        </div>
                                        <div>
                                            <div>1:48</div>
                                        </div>
                                    </div>
                                </div>    
                        </div>



                    </div>
               




            </div>

            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        
        
    
    </script>
</body>
</html>