<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Mulish:wght@200;1000&display=swap" rel="stylesheet">
</head>
<body>

    <!--Navigation bar start-->


    <div class="container">
        <header class="d-flex justify-content-spacebetween py-3">
            
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <i class="fa-solid fa-suitcase" width="80" height="72" role="img" aria-label="Placement"></i>
                
            </a>
            <h3>Students Learning  </h3>          
          <div class="col-md-3 text-end" id="SLbuttons">
            <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
            <a href="/sign-up"><button type="button" class="btn btn-primary">Sign-up</button></a>
          </div>

        </header>
    </div>
     <!--Navigation bar end-->



     <div class="mainContent">
        <div class="back">
            <img class="bg1" src="/img/b1.jpg" alt="">
            <img class="bg2" src="/img/b3.jpg" alt="">
        </div>
        <div class="transparency">
            <br><br><br><br><br>
            <div class="formpage">
              <br><br>
                <form action="/create-session" method="post">
                    
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" class="form-control"  id="email" name="email" placeholder="enter your Email Address"
                      required
                      />
                      <label class="form-label" for="email">Email address</label>
                    </div>
                  
                    <!-- Password input -->
                    <div class=" form-outline mb-4">
                      <input type="password" id="password" name="password" placeholder="enter Password" class="form-control" required />
                      <label class="form-label" for="password">Password</label>
                    </div>
                    
                    
                  
                    
                  
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign In</button>
                  
                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>Not a member? <a href="/sign-up">Sign Up</a></p>
                      <p>or sign up with:</p>
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>
                  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
                  
                      <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                      </button>
                    </div>
                  </form>
            </div>
            
        </div>
    </div>

      

    

    


   




    <script src="https://kit.fontawesome.com/f72372325e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" 
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" 
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    
</body>
</html>



