
body{
    background: -o-linear-gradient(white, #212121);
}
.fa-solid, .fas {
    font-weight: 900;
    font-size: xx-large;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    height: 60px;
    width: 100%;
    background-color: white;
    white-space: nowrap;
 
}
.container-fluid {
    width: 100%;
    white-space: nowrap;
    
  }


#SLbuttons{
    justify-content: flex-end;
    align-items: flex-end;
}
.mainContent{
    width: 100%;
    
}
.back{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
}


.bg1 {
    /* The image used */
   
  
    /* Full height */
    height: 60%;
    width: 40%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .bg2 {
    /* The image used */
   
  
    /* Full height */
    height: 100%;
    width: 60%;
  
    /* Center and scale the image nicely */
    background: position 80px;;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
.transparency{
    transform: translate();
transition: 1sec;

position: relative;
height: 91.5vh;
width: 100vw;
background-color: black;
opacity: 0.70;
}

.formpage{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity: 1;
    height: 75%;
    width: 50%;
    max-width: 450px;
    min-width: 320px;
    border-radius: 7px;
    padding: 25px;
    padding-top: 30px;
    align-items: center;  
}

.form-outline{
    border-color: black;
}







